textarea {
    height: 50px;
    width: 80%;
    font-size: 1.4rem;
    padding: 12px 15px;
    border-radius: 20px 20px 6px 20px;
}
input {
    height: 50px;
    width: 80%;
    font-size: 1.4rem;
    padding: 12px 15px;
    border-radius: 20px 20px 6px 20px;
}

    .qpq-post{
        background-color: dodgerblue;
        margin: 0 auto 0;
            padding: 16px 40px;
            border-radius: 20px;
            position: relative;
        width: 600px;
        margin-bottom: 30px;
    }
